<AlertGroupBase @ref="AlertGroup">
    <AlertBase @ref="PasswordNotMatchAlert" Class="alert-danger">
        Nie prawidłowy email lub hasło
    </AlertBase>
    <AlertBase @ref="SuccessAlert" Class="alert-success">
        Logowanie powiodło się!
    </AlertBase>
</AlertGroupBase>

<FormBase @ref="Form" OnSubmit="SubmitAsync">
    <div class="mb-2 text-start">
        <TextInputBase @ref="EmailInput" @bind-Value="Model.Email" Class="form-control" Placeholder="Email" Required="true" />
    </div>
    <div class="mb-2 text-start">
        <PasswordInputBase @ref="PasswordInput" @bind-Value="Model.PasswordText" Class="form-control" Placeholder="Hasło" Required="true" />
    </div>
    <div class="d-flex align-items-center">
        <CheckboxInputBase @ref="PersistentCheckbox" @bind-Value="@Model.IsPersistent">
            Pamiętaj mnie
        </CheckboxInputBase>
        <div class="ms-auto">
            <SubmitButtonBase @ref="SubmitButton" Class="btn btn-primary text-start">
                Zaloguj się
            </SubmitButtonBase>
        </div>
    </div>
</FormBase>