<AlertGroupBase @ref="AlertGroup">
    <AlertBase @ref="UserAlreadyExistsAlert" Class="alert-danger">
        User with this email already exists
    </AlertBase>
    <AlertBase @ref="ValidationErrorAlert" Class="alert-danger">
        There was a validation error
    </AlertBase>
</AlertGroupBase>

<FormBase @ref="Form" OnSubmit="SubmitAsync">
    <div class="mb-2 text-start">
        <TextInputBase @ref="EmailInput" @bind-Value="Model.Email" Class="form-control" Placeholder="Email" Required="true" />
        <ValidationMessageBase Key="@nameof(Model.Email)" />
    </div>
    <div class="row mb-2">
        <div class="col">
            <TextInputBase @ref="FirstNameInput" @bind-Value="Model.FirstName" Class="form-control" Placeholder="First Name" Required="true" />
            <ValidationMessageBase Key="@nameof(Model.FirstName)" />
        </div>
        <div class="col">
            <TextInputBase @ref="LastNameInput" @bind-Value="Model.LastName" Class="form-control" Placeholder="Last Name" Required="true" />
            <ValidationMessageBase Key="@nameof(Model.LastName)" />
        </div>
    </div>
    <div class="mb-2 text-start">
        <PasswordInputBase @ref="PasswordInput" @bind-Value="Model.PasswordText" Class="form-control" Placeholder="Password" Required="true" />
        <ValidationMessageBase Key="@nameof(Model.PasswordText)" />
    </div>
    <div class="d-flex align-items-center">
        <div class="ms-auto">
            <SubmitButtonBase @ref="SubmitButton" Class="btn btn-primary text-start">
                Register
            </SubmitButtonBase>
        </div>
    </div>
</FormBase>