<AlertGroupBase @ref="AlertGroup">
    <AlertBase @ref="LimitReachedAlert" Class="alert-danger">
        Przekroczyłeś limit dla tego konta. Spróbuj ponownie później
    </AlertBase>
    <AlertBase @ref="SuccessAlert" Class="alert-success">
        Jeżeli konto z podanym adresem istnieje to wysłaliśmy na niego link do resetu hasła
    </AlertBase>
</AlertGroupBase>

<FormBase @ref="Form" OnSubmit="SubmitAsync">
    <div class="mb-2 text-start">
        <TextInputBase @ref="EmailInput" @bind-Value="Model.Email" Class="form-control" Placeholder="Email" Required="true" />
    </div>
    <div class="d-flex align-items-center">
        <div class="ms-auto">
            <SubmitButtonBase @ref="SubmitButton" Class="btn btn-primary text-start">
                Resetuj hasło
            </SubmitButtonBase>
        </div>
    </div>
</FormBase>