<AlertGroupBase @ref="AlertGroup">
    <AlertBase @ref="ValidationErrorAlert" Class="alert-danger">
        Hasło musi mieć co najmniej 8 znaków
    </AlertBase>
    <AlertBase @ref="NotFoundErrorAlert" Class="alert-danger">
        Ten link nie jest ważny
    </AlertBase>
    <AlertBase @ref="AlreadyUsedErrorAlert" Class="alert-danger">
        Ten link został już wykorzystany do zmiany hasła
    </AlertBase>
    <AlertBase @ref="ExpiredErrorAlert" Class="alert-danger">
        Ten link stracił ważność
    </AlertBase>
    <AlertBase @ref="SuccessAlert" Class="alert-success">
        Hasło dla twojego konta zostało zmienione pomyślnie!
    </AlertBase>
</AlertGroupBase>

<FormBase @ref="Form" OnSubmit="SubmitAsync">
    <div class="mb-2 text-start">
        <PasswordInputBase @ref="PasswordInput" @bind-Value="NewPassword" Class="form-control" Placeholder="Nowe hasło" Required="true" />
    </div>
    <div class="d-flex align-items-center">
        <div class="ms-auto">
            <SubmitButtonBase @ref="SubmitButton" Class="btn btn-primary text-start">
                Zmień hasło
            </SubmitButtonBase>
        </div>
    </div>
</FormBase>