@using FMFT.Web.Client.Views.Components.Shows.Cards.Selectors

<div class="card">
    <div class="card-header">
        Seat Reservation
    </div>
    <SeatSelector Auditorium="Auditorium" @bind-SelectedSeat="SelectedSeat" />
    <div class="card-body">
        <div class="mb-2">
            Select the seats you would like to reserve
        </div>                    
        <div>
            <div class="d-flex align-items-center mb-2">
                <div class="seat">
                    <div class="seat-text">
                        N
                    </div>                                
                </div>
                <div class="ms-2">
                    - Free Seat
                </div>
            </div>
            <div class="d-flex align-items-center mb-2">
                <div class="seat seat-busy">
                    <div class="seat-text">
                        N
                    </div>                                
                </div>
                <div class="ms-2">
                    - Busy Seat
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="seat seat-selected">
                    <div class="seat-text">
                        N
                    </div>                                
                </div>
                <div class="ms-2">
                    - Selected Seat
                </div>
            </div>
        </div>
    </div>    
    <div class="card-body">

        <p>
            <Condition Evaluation="SelectedSeat == null">
                <Match>
                    Please select a seat
                </Match>
                <NotMatch>
                    Selected Seat: [Row: @SelectedSeat.Row] [Number: @SelectedSeat.Number]
                </NotMatch>
            </Condition>
        </p>
        
        <AlertGroupBase @ref="AlertGroup">
            <AlertBase @ref="SeatAlreadyReservedAlert" Class="alert-danger">
                This seat is alraedy reserved
            </AlertBase>
            <AlertBase @ref="UserAlreadyReservedAlert" Class="alert-danger">
                You have already reserved a seat for this show
            </AlertBase>
            <AlertBase @ref="ReservationSuccessAlert" Class="alert-success">
                Successfully created a reservation for seat [@SelectedSeat.Row, @SelectedSeat.Number]!
            </AlertBase>
        </AlertGroupBase>

        <CustomAuthorizeView>
            <Authorized>
                <ButtonBase @ref="ReserveButton" OnClick="HandleReserveButtonClick" Class="btn btn-primary" IsDisabled="SelectedSeat == null">
                    Reserve
                </ButtonBase>
            </Authorized>
            <NotAuthorized>
                <div>
                    You have to be logged in to reserve a seat
                </div>
            </NotAuthorized>
        </CustomAuthorizeView>
        
    </div>
</div>