@using FMFT.Web.Client.Views.Shared.Components.Panzooms

<Condition Evaluation="showSelectSeats">
    <NotMatch>
        <div class="mb-3">
            <div class="fs-3 mb-2">
                Podaj ilość miejsc 
            </div>
            <div class="mb-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Rodzaj biletu
                            </th>
                            <th>
                                Ilość
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">
                                Normalny
                            </td>
                            <td class="align-middle">
                                <InputSelect @bind-Value="TicketsCount" class="form-select">
                                    @for (int i = 1; i <= MaxSeats; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </InputSelect>
                            </td>
                        </tr>
                    </tbody>
                </table>
                                                
            </div>
            <div class="d-flex">
                <div class="ms-auto">
                    <button class="btn btn-primary" @onclick="HandleShowSelectSeats">
                        Przejdź dalej
                    </button>
                </div>
            </div>
        </div>
    </NotMatch>

    <Match>
        <div class="mb-3">
            <div class="d-md-flex d-block align-items-center">
                <div class="fs-3 mb-2 mb-md-0">
                    Wybierz @TicketsCountString()
                </div>
                <div class="ms-md-auto d-md-flex d-block align-items-center">
                    <div class="me-md-1 w-100 w-md-auto mb-1 mb-md-0">
                        <button class="btn btn-secondary w-100" @onclick="HandleHideSelectSeats">
                            Powrót
                        </button>
                    </div>
                    <div class="w-100 w-md-auto">
                        <button class="btn btn-primary text-nowrap w-100" @onclick="NextToConfirmAsync" disabled="@(!HasSelectedSeats)">
                            Przejdź dalej
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <AuditoriumSeatPanzoom Auditorium="Auditorium" ReservedSeats="Show.ReservedSeats" MaxAmount="TicketsCount" @bind-SelectedSeats="SelectedSeats" />
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Legenda
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        zielony - wolne miejsca
                    </li>
                    <li>
                        pomarańczowy - wybrane miejsce
                    </li>
                    <li>
                        fioletowy - miejsca zarezerwowane dla vipów
                    </li>
                    <li>
                        szary - miejsca zajęte
                    </li>
                </ul>
            </div>
        </div>

        <Condition Evaluation="SelectedSeats is not null">
            <Match>
                <div class="d-flex">
                    <div class="ms-auto">
                        <button class="btn btn-primary" @onclick="NextToConfirmAsync">
                            Przejdź dalej
                        </button>
                    </div>
                </div>
            </Match>
        </Condition>
    </Match>

</Condition>