@page "/tickets"
@using FMFT.Web.Client.Views.Components.Tickets

<PageTitle>Tickets</PageTitle>

<Breadcrumb>
    <BreadcrumbItem Link="/">
        Home
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
        Tickets
    </BreadcrumbItem>
</Breadcrumb>

<h3>TicketsPage</h3>

<SeatSelectorComponent />


