@using FMFT.Extensions.Blazor.Bases.Dialogs


<ModalDialog @ref="ModalDialog">
    <Title>
        Dodaj rodzaj biletu
    </Title>
    <Body>
        <EditForm Model="Model" OnValidSubmit="SubmitAsync" id="addshowproduct-form">
            <DataAnnotationsValidator />

            <div class="mb-2">
                <span class="form-label">Nazwa</span>
                <InputText class="form-control" @bind-Value="Model.Name" />
                <div class="text-danger">
                    <ValidationMessage For="@(() => Model.Name)" />
                </div>
            </div>
            <div class="mb-2">
                <span class="form-label">Cena</span>
                <div class="input-group">
                    <InputNumber class="form-control" @bind-Value="Model.Price" />
                    <span class="input-group-text">PLN</span>
                </div>
                <div class="text-danger">
                    <ValidationMessage For="@(() => Model.Price)" />
                </div>
            </div>
            <div class="mb-2">
                <div class="form-check form-switch">
                    <InputCheckbox id="addshowproduct-isenabled" class="form-check-input" @bind-Value="Model.IsEnabled" />
                    <label class="form-check-label" for="addshowproduct-isenabled">
                        Aktywny
                    </label>
                </div>
            </div>

            <AlertGroupBase @ref="AlertGroup">
                <AlertBase @ref="SuccessAlert" Class="alert-success">
                    Pomyślnie dodany produkt
                </AlertBase>
                <AlertBase @ref="ErrorAlert" Class="alert-danger">
                    Wystąpił błąd. Spróbuj ponownie później
                </AlertBase>
            </AlertGroupBase>
        </EditForm>
    </Body>
    <Footer>
        <ButtonBase Class="btn btn-secondary" OnClick="HideAsync">
            Anuluj
        </ButtonBase>
        <SubmitButtonBase @ref="SubmitButton" Class="btn btn-primary" Form="addshowproduct-form">
            <i class="fa-solid fa-plus me-1"></i>
            Dodaj
        </SubmitButtonBase>
    </Footer>
</ModalDialog>
