@page "/shows/{ShowId:int}/order/{ActiveNavigationKey?}"
@using FMFT.Extensions.Blazor.Bases.Conditions
@using FMFT.Extensions.Blazor.Bases.Navigations
@using BlazorPanzoom
@using FMFT.Web.Client.Views.Pages.Home.Shows.Steps
@using FMFT.Web.Client.Views.Shared.Components.Panzooms

<MainLayoutBody>

    <div class="d-none d-md-block">
        <Breadcrumb>
            <BreadcrumbItem Link="/" Class="d-none d-md-block">
                Home
            </BreadcrumbItem>
            <BreadcrumbItem Link="/shows" Class="d-none d-md-block">
                Wydarzenia
            </BreadcrumbItem>
            <BreadcrumbItem Link="@string.Concat("/shows/", ShowId)">
                @ShowName
            </BreadcrumbItem>
            <BreadcrumbItem Active="true" Class="d-none d-md-block">
                Kup bilety
            </BreadcrumbItem>
        </Breadcrumb>
    </div>
    <div class="d-block d-md-none">
        <div class="mb-2 fs-5">
            @ShowName
        </div>
    </div>

    <CustomAuthorizeView>
        <Authorized>
            <LoadingView @ref="LoadingView">
                <Condition Evaluation="ShowResponse.IsSuccessful && AuditoriumResponse.IsSuccessful && UserReservationsResponse.IsSuccessful && ShowProductsResponse.IsSuccessful">
                    <Match>
                        <NavigationStepper @ref="Stepper" ActiveKey="@ActiveNavigationKey" OnNavigate="HandleNavigate">
                            <NavigationItem Key="tickets" Title="Bilety">

                                <SelectProductStep 
                                    OrderState="OrderState"
                                    OrderStateChanged="SaveOrderStateAsync"
                                    Stepper="Stepper" 
                                    Show="Show" 
                                    ShowProducts="ShowProducts" 
                                    UserReservations="UserReservations" />

                            </NavigationItem>
                            <NavigationItem Key="seats" Title="Miejsca">

                                <SelectSeatStep  
                                    OrderState="OrderState" 
                                    OrderStateChanged="SaveOrderStateAsync" 
                                    Stepper="Stepper" 
                                    Show="Show" 
                                    Auditorium="Auditorium" />

                            </NavigationItem>
                            <NavigationItem Key="payment" Title="Płatność">

                                <PaymentStep 
                                    OrderState="OrderState"
                                    OrderStateChanged="SaveOrderStateAsync"
                                    Show="Show" />

                            </NavigationItem>
                        </NavigationStepper>
                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>
            </LoadingView>
        </Authorized>
        <NotAuthorized>
            <NotAuthenticatedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>

</MainLayoutBody>

