@page "/shows"

<Breadcrumb>
    <BreadcrumbItem Link="/">
        Home
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
        Przedstawienia
    </BreadcrumbItem>
</Breadcrumb>

<LoadingView @ref="LoadingView">
    <Condition Evaluation="ShowsResponse.IsSuccessful">
        <Match>
            <div class="row">
                <Iterations Items="Shows.Where(x => x.StartDateTime > DateTime.Now)">
                    <div class="col-md-6 g-md-2 col-lg-4">
                        <div class="card mb-3">
                            <div class="show-thumbnail" style="@GetShowThumbnailStyle(context)">
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    @context.Name <br />
                                    <small class="text-muted">
                                        @context.StartDateTime.LocalDateTime.ToString("f")
                                    </small>
                                </li>
                                <li class="list-group-item">
                                    <a href="/shows/@context.Id" class="btn btn-sm btn-secondary">
                                        <i class="fa-solid fa-info me-1"></i> Szczegóły
                                    </a>
                                    <a href="/shows/@context.Id/reserve" class="btn btn-sm btn-primary">
                                        <i class="fa-solid fa-ticket me-1"></i> Zarezerwuj
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </Iterations>
            </div>
        </Match>
        <NotMatch>
            <ErrorResponseAlert />
        </NotMatch>
    </Condition>
</LoadingView>