@page "/account/login"

@using FMFT.Web.Client.Views.Shared.Components.Bodies
@using FMFT.Web.Client.Views.Shared.Components.Forms
@using FMFT.Web.Client.Views.Shared.Layouts.Account

@layout AccountLayout

<AccountLayoutBody>
    <Header>
        Zaloguj się
    </Header>
    <Content>

        <LoginForm OnSuccess="OnSuccessfullLoginAsync" />

        <div class="my-2 text-start small">
            <div>
                Nie masz jeszcze konta?
                <a class="text-decoration-none" href="/account/register">
                    Zarejestruj się
                </a>
            </div>
            <div>
                Zapomniałeś hasła?
                <a class="text-decoration-none" href="/account/requestresetpassword">
                    Zresetuj hasło
                </a>
            </div>
        </div>

    </Content>
    <Footer>
        <div class="d-flex">
            <div class="small">
                <a href="/" class="text-decoration-none">
                    <i class="fa-solid fa-house"></i> Powrót do strony głównej
                </a>
            </div>
        </div>
    </Footer>
</AccountLayoutBody>