@page "/account/register"

@using FMFT.Web.Client.Views.Shared.Components.Bodies
@using FMFT.Web.Client.Views.Shared.Components.Forms
@using FMFT.Web.Client.Views.Shared.Layouts.Account

@layout AccountLayout

<AccountLayoutBody>
    <Header>
        Zarejestruj się
    </Header>
    <Content>
        <RegisterForm OnSuccess="HandleSuccessfullRegisterAsync" />
    </Content>
    <Footer>
        <div class="d-flex">
            <div class="small">
                <a href="/account/login" class="text-decoration-none">
                    <i class="fa-solid fa-rotate-left"></i> Powrót do strony logowania
                </a>
            </div>
        </div>
    </Footer>
</AccountLayoutBody>