@page "/account/register"

@using FMFT.Web.Client.Views.Shared.Components.Bodies
@using FMFT.Web.Client.Views.Shared.Components.Forms
@using FMFT.Web.Client.Views.Shared.Layouts.Account

@layout AccountLayout

<AccountLayoutBody>
    <Header>
        Register
    </Header>
    <Content>
        <RegisterForm />
    </Content>
    <Footer>
        <div class="d-flex">
            <div class="small">
                <a href="/account/login" class="text-decoration-none">
                    <i class="bi bi-arrow-counterclockwise"></i> Go to login
                </a>
            </div>
        </div>
    </Footer>
</AccountLayoutBody>