@page "/account/resetpassword/{SecretKey}"

@using FMFT.Web.Client.Views.Shared.Components.Bodies
@using FMFT.Web.Client.Views.Shared.Components.Forms
@using FMFT.Web.Client.Views.Shared.Layouts.Account

@layout AccountLayout

<AccountLayoutBody>
    <Header>
        Reset hasła
    </Header>
    <Content>

        <Condition Evaluation="isSuccessful">
            <Match>
                Hasło dla twojego konta zostało zmienione pomyślnie!
            </Match>
            <NotMatch>
                <ResetPasswordForm SecretKey="SecretKeyId" OnSuccess="OnSuccessfullyResetPasswordAsync" />
            </NotMatch>
        </Condition>        

    </Content>
    <Footer>
        <div class="d-flex">
            <div class="small">
                <a href="/account/login" class="text-decoration-none">
                    <i class="fa-solid fa-rotate-left"></i> Powrót do strony logowania
                </a>
            </div>
        </div>
    </Footer>
</AccountLayoutBody>