@page "/staff"

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            Obsługa
        </BreadcrumbItem>
    </Breadcrumb>

    <div class="list-group fs-5">
        <a class="list-group-item list-group-item-action p-3" href="/staff/shows">
            <i class="fa-solid fa-arrow-right-long me-2"></i>
            Lista wydarzeń
        </a>
        <a class="list-group-item list-group-item-action p-3" href="/staff/reservations">
            <i class="fa-solid fa-arrow-right-long me-2"></i>
            Sprawdź rezerwację
        </a>
        <a class="list-group-item list-group-item-action p-3" href="/staff/ticket-scanner">
            <i class="fa-solid fa-arrow-right-long me-2"></i>
            Skaner biletów
        </a>
    </div>

</MainLayoutBody>