
<main class="form-signin text-center bg-light rounded rounded-3">
    <Condition Evaluation="Header != null">
        <Match>
            <a href="/">
                <img class="mb-3 rounded-circle border border-1" src="/img/logo.png" alt="" width="100" height="100">
            </a>
            <div class="fs-5 mb-3">
                @Header
            </div>
        </Match>
    </Condition>
    
    <div class="mb-3">
        @Content
    </div>
    
    <Condition Evaluation="Footer != null">
        <Match>
            <p class="mb-3 text-muted">
                &copy; @DateTime.Now.Year
            </p>
            <div>
                @Footer
            </div>
        </Match>
    </Condition>
</main>


