<div class="row">
    <div class="col-md-9">

    </div>
    <div class="col-md-3">
        <div class="bg-light border p-2">
            <div class="d-flex align-items-center fw-bold">
                <div>
                    Do zapłaty
                </div>
                <div class="ms-auto">
                    @OrderState.TotalPrice.ToString("N2") zł
                </div>
            </div>
        </div>
    </div>
</div>