@using FMFT.Web.Client.Shared.Navbars.Items

<nav class="navbar navbar-expand-lg bg-light border-bottom border-1">
    <div class="container">
        <a class="navbar-brand" href="/">
            FMFT
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <MainNavbarItem Location="/">
                    Home
                </MainNavbarItem>
                <MainNavbarItem Location="/tickets">
                    Tickets
                </MainNavbarItem>
                <MainNavbarItem Location="/shows">
                    Shows
                </MainNavbarItem>
            </ul>
            <ul class="navbar-nav">
                <CustomAuthorizeView>
                    <Authorized>
                        <MainNavbarDropdown Value="@context.FirstName">
                            <MainNavbarDropdownItem Location="/account">
                                Account
                            </MainNavbarDropdownItem>
                            <MainNavbarDropdownItem Location="/account/logout">
                                Logout
                            </MainNavbarDropdownItem>
                        </MainNavbarDropdown>
                        
                    </Authorized>
                    <NotAuthorized>
                        <MainNavbarItem Location="/account/login">
                            Login
                        </MainNavbarItem>
                    </NotAuthorized>
                </CustomAuthorizeView>
                
            </ul>
        </div>
    </div>
</nav>