<AlertGroupBase @ref="AlertGroup">
    <AlertBase @ref="ConflictErrorAlert" Class="alert-danger">
        User with this email already exists
    </AlertBase>
    <AlertBase @ref="BadRequestErrorAlert" Class="alert-danger">
        There was a validation error
    </AlertBase>
</AlertGroupBase>

<FormBase @ref="Form">
    <div class="mb-2 text-start">
        <TextInputBase @ref="EmailInput" @bind-Value="Request.Email" Class="form-control" Placeholder="Email" />
        <ValidationMessageBase Key="@nameof(Request.Email)" />
    </div>
    <div class="row mb-2">
        <div class="col">
            <TextInputBase @ref="FirstNameInput" @bind-Value="Request.FirstName" Class="form-control" Placeholder="First Name" />
            <ValidationMessageBase Key="@nameof(Request.FirstName)" />
        </div>
        <div class="col">
            <TextInputBase @ref="LastNameInput" @bind-Value="Request.LastName" Class="form-control" Placeholder="Last Name" />
            <ValidationMessageBase Key="@nameof(Request.LastName)" />
        </div>
    </div>
    <div class="mb-2 text-start">
        <PasswordInputBase @ref="PasswordInput" @bind-Value="Request.PasswordText" Class="form-control" Placeholder="Password" />
        <ValidationMessageBase Key="@nameof(Request.PasswordText)" />
    </div>
    <div class="d-flex align-items-center">
        <div class="ms-auto">
            <ButtonBase @ref="SubmitButton" Class="btn btn-primary text-start" OnClick="SubmitRegisterAsync">
                Register
            </ButtonBase>
        </div>
    </div>
</FormBase>