@page "/account/login"

@using FMFT.Web.Client.Views.Shared.Components.Bodies
@using FMFT.Web.Client.Views.Shared.Components.Forms
@using FMFT.Web.Client.Views.Shared.Layouts.Account

@layout AccountLayout

<AccountLayoutBody>
    <Header>
        Zaloguj się
    </Header>
    <Content>

        <LoginForm OnSuccess="HandleSuccessfullLoginAsync" />

        <div class="my-2 fw-bold">
            LUB
        </div>

        <div>
            @* <button class="btn btn-outline-dark d-flex w-100 mb-2" disabled="@IsFacebookDisabled" @onclick="HandleFacebookLoginAsync">
                <div class="float-start" style="margin-top: -3px;">
                    <img src="/img/icons/facebook_icon.png" width="20" height="20">
                </div>
                <div class="text-center w-100">
                    Kontynuuj z Facebookiem
                </div>
            </button> *@
            <button class="btn btn-outline-dark d-flex w-100 mb-2" disabled="@IsGoogleDisabled" @onclick="HandleGoogleLoginAsync">
                <div class="float-start" style="margin-top: -3px;">
                    <img src="/img/icons/google_icon.png" width="20" height="20">
                </div>
                <div class="text-center w-100">
                    Kontynuuj z Googlem
                </div>
            </button>
        </div>


        <div class="my-2 text-start small">
            <div>
                Nie masz jeszcze konta?
                <a class="text-decoration-none" href="/account/register">
                    Zarejestruj się
                </a>
            </div>
            <div>
                Zapomniałeś hasła?
                <a class="text-decoration-none" href="/account/requestresetpassword">
                    Zresetuj hasło
                </a>
            </div>
        </div>

    </Content>
    <Footer>
        <div class="d-flex">
            <div class="small">
                <a href="/" class="text-decoration-none">
                    <i class="fa-solid fa-house"></i> Powrót do strony głównej
                </a>
            </div>
        </div>
    </Footer>
</AccountLayoutBody>