@import url("panzoom.css");

.cursor-pointer {
    cursor: pointer !important;
}

.form-check {
    cursor: pointer !important;
}

.form-check-label {
    cursor: pointer !important;
}

.form-check-input {
    cursor: pointer !important;
}

.show-thumbnail {
    padding-bottom: 50%;
    background-size: cover;
    width: 100%;
}