.cursor-pointer {
    cursor: pointer !important;
}

.form-check {
    cursor: pointer !important;
}

.form-check-label {
    cursor: pointer !important;
}

.form-check-input {
    cursor: pointer !important;
}

.show-thumbnail {
    padding-bottom: 50%;
    background-size: cover;
    width: 100%;
}

.home-header {
    padding: 10vw 0 15vw 0;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/background.webp) center;
    background-size: cover;
}

.home-header-logo {
    max-height: 90px;
    width: 100%;
}

@media (min-width: 600px) {
    .home-header {
        padding: 66px 0 100px 0;
    }
    .home-header-logo {
        max-height: 150px;
    }
}

/*
    Loading progress
*/

.progressLabel:after {
    content: var(--blazor-load-percentage-text, "0%");
}