.panzoom-parent {
    position: relative;
    box-shadow: inset 0 0 5px rgba(223, 212, 212, 0.5);
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.panzoom {
    position: relative;
}

    .panzoom img {
        display: block;
        padding: 20px;
        margin: 0 auto;
    }
    
    .panzoom canvas {
        display: block;
        margin: 0 auto;
    }

.panzoom-toolbar {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 1;
}

.panzoom-button {
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: 900;
    border: 1px solid black;
}

.panzoom-info {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 1;
    padding: 6px 10px;
    font-size: 18px;
    background-color: white;
    border: 1px solid black;
}