.panzoom-parent {
    position: relative;
    box-shadow: inset 0 0 5px rgba(223, 212, 212, 0.5);
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.panzoom {
    position: relative;
}

    .panzoom img {
        display: block;
        padding: 20px;
        margin: 0 auto;
    }
    
    .panzoom canvas {
        display: block;
        margin: 0 auto;
    }
