.panzoom-container {
    overflow-x: hidden;
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panzoom-toolbar {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 1;
}

.panzoom-button {
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: 900;
}

.theater {
    width: 100%;
}

.theater-stage {
    margin-right: auto !important;
    margin-left: auto !important;
    height: 100px;
    width: 800px;
    min-width: 800px;
    background-color: saddlebrown;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theater-stage-text {
    font-size: 30px;
    color: white;
}

.seats-row {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.seat {
    width: 35px !important;
    height: 35px !important;
    min-width: 35px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color linear 0.15s;
}
.seat:hover {
    background-color: gray;
}
    
.seat-text {
    font-size: 15px;
    color: white;
}