@using FMFT.Web.Client.Views.Components.Accounts.Forms

<div class="mb-3">
    <h5>External Login Confirmation</h5>
    <p class="small text-muted">
        Provide email address to connect with your external login
    </p>
</div>

<ExternalLoginConfirmationForm />