@using FMFT.Web.Client.Views.Components.Accounts.Forms

<div class="mb-3">
    <h5>Login</h5>
</div>

<SignInUserWithPasswordForm />

<div class="my-2 text-start small">
    <div>
        Don't have account yet? 
        <a class="text-decoration-none" href="/account/register">
            Register
        </a>
    </div>
    <div>
        Forgot your password? 
        <a class="text-decoration-none" href="/account/requestresetpassword">
            Reset Password
        </a>
    </div>    
</div>

<div class="my-2 fw-bold">
    OR
</div>

<ExternalLoginForm Provider="Google" Text="Sign in with Google" IconUrl="/img/icons/google_icon.png" />
<ExternalLoginForm Provider="Facebook" Text="Sign in with Facebook" IconUrl="/img/icons/facebook_icon.png" />