@using FMFT.Web.Client.Views.Bases.Alerts
@using FMFT.Web.Client.Views.Bases.Forms
@using FMFT.Web.Client.Views.Bases.Inputs

<AlertGroupBase @ref="AlertGroup">
    <AlertBase @ref="UserPasswordNotMatchAlert" Class="alert-danger">
        Invalid username or password
    </AlertBase>
</AlertGroupBase>

<FormBase @ref="Form">
    <div class="mb-2 text-start">
        <TextInputBase @ref="EmailInput" @bind-Value="Model.Email" Class="form-control" Placeholder="Email" />
    </div>
    <div class="mb-2 text-start">
        <PasswordInputBase @ref="PasswordInput" @bind-Value="Model.PasswordText" Class="form-control" Placeholder="Password" />
    </div>
    <div class="d-flex align-items-center">
        <CheckboxInputBase @ref="PersistentCheckbox" @bind-Value="@Model.IsPersistent">
            Remember Me
        </CheckboxInputBase>
        <div class="ms-auto">
            <ButtonBase @ref="SubmitButton" Class="btn btn-primary text-start" OnClick="SubmitLoginAsync">
                Login
            </ButtonBase>
        </div>
    </div>
</FormBase>