@using FMFT.Web.Client.Views.Bases.Inputs


<div>
    <div class="mb-2 text-start">
        <TextInputBase @ref="EmailInput" @bind-Value="Model.Email" Class="form-control" Placeholder="Email" />
    </div>
    <div class="mb-2 text-start">
        <TextInputBase @ref="PasswordInput" @bind-Value="Model.PasswordText" Placeholder="Password" />
    </div>
    <div class="d-flex align-items-center">
        <div class="form-check">
            <label class="form-check-label" style="cursor: pointer;">
                <input type="checkbox" class="form-check-input" @bind="Model.IsPersistent" />
                Remember Me
            </label>
        </div>
        <div class="ms-auto">
            <ButtonBase @ref="SubmitButton" Class="btn btn-primary text-start" OnClick="SubmitLoginAsync">
                Login
            </ButtonBase>
        </div>
    </div>
</div>

<div class="my-2 text-start small">
    <div>
        Don't have account yet? 
        <a class="text-decoration-none" href="/account/register">
            Register
        </a>
    </div>
    <div>
        Forgot your password? 
        <a class="text-decoration-none" href="/account/requestresetpassword">
            Reset Password
        </a>
    </div>    
</div>
