<AlertGroupBase @ref="AlertGroup">
    <AlertBase @ref="UserEmailAlreadyExistsAlert" Class="alert-danger">
        User with this email already exists
    </AlertBase>
    <AlertBase @ref="ExternalLoginNotFoundAlert" Class="alert-danger">
        Failed to retrieve external login info
    </AlertBase>
</AlertGroupBase>

<FormBase @ref="Form">
    <div class="mb-2 text-start">
        <TextInputBase @ref="EmailInput" @bind-Value="Model.Email" Class="form-control" Placeholder="Email" />
    </div>
    <div class="d-flex align-items-center">
        <div class="ms-auto">
            <ButtonBase @ref="SubmitButton" Class="btn btn-primary text-start" OnClick="SubmitConfirmationAsync">
                Confirm
            </ButtonBase>
        </div>
    </div>
</FormBase>