@using FMFT.Web.Client.Views.Shared.Components.Forms.Shows

<div class="card">
    <div class="card-header">
        Edycja
    </div>
    <UpdateShowForm Show="Show" ShowChanged="HandleShowChangedAsync" Audutoriums="Auditoriums" />
</div>