@using FMFT.Web.Client.Views.Shared.Components.Forms.Shows

<div class="row">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                Główne ustawienia
            </div>
            <UpdateShowForm Show="Show" ShowChanged="HandleShowChangedAsync" Audutoriums="Auditoriums" />
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                Czas rozpoczęcia
            </div>
            <div class="card-body">
                <UpdateShowTimeForm Show="Show" ShowChanged="HandleShowChangedAsync" />
            </div>
        </div>
    </div>
</div>
