@page "/contact"

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            Kontakt
        </BreadcrumbItem>
    </Breadcrumb>

    <div class="d-md-flex align-items-center mb-3">
        <div class="mb-3 text-center">
            <img src="/img/logo.png" width="150" height="150" class="border border-1 shadow-sm" />
        </div>
        <div class="ms-md-4">
            <div class="fs-5 mb-2">Dane Kontaktowe</div>
            <ul class="list-unstyled">
                <li class="fw-bold">
                    Stowarzyszenie Iuvenartes
                </li>
                <li>
                    Adres:
                    <span class="fw-bold">ul. Sobieskiego 9, 31-136 Kraków</span>
                </li>
                <li>
                    Adres Email:
                    <a href="mailto:iuvenartes@gmail.com" class="fw-bold text-decoration-none">iuvenartes@gmail.com</a>
                </li>
                <li>
                    Telefon:
                    <span class="fw-bold">
                        <a href="tel:605 720 425" class="text-decoration-none">605 720 425</a>
                    </span>
                </li>
            </ul>
        </div>        
    </div>

    <div>
        <p>
            Strona główna festiwalu: 
            <a href="https://fmft.pl" target="_blank">
                fmft.pl
                <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 10px;"></i>
            </a>
        </p>
        <p>
            W sprawach związanych z obsługą FMFT zapraszamy do bezpośredniego kontaktu za pomocą:
            <a href="mailto:fmftkrakow@gmail.com" class="fw-bold text-decoration-none">fmftkrakow@gmail.com</a>
        </p>
    </div>
</MainLayoutBody>