@page "/"

<div class="mb-3">
    <h3>Aplikacja FMFT (DEMO)</h3>
    <p class="lead">Aplikacja do rezerwacji miejsc na przedstawienia</p>
</div>
<div>
    <div>
        Festiwal Małych Form Teatralnych (FMFT) Kraków
    </div>
    <div>
        <p>Oficjalna strona FMFT: <a href="https://fmft.art.pl" target="_blank">fmft.art.pl</a></p>
    </div>
</div>