@using BlazorPanzoom


<div class="panzoom-parent">
    <Panzoom @ref="Panzoom" WheelMode="WheelMode.ZoomWithWheel" PanzoomOptions="PanzoomOptions">
        <div @ref="@context.ElementReference" class="panzoom">
            <canvas id="myCanvas"></canvas>
        </div>        
    </Panzoom>
</div>
