@page "/tickets"

<PageTitle>Tickets</PageTitle>

<Breadcrumb>
    <BreadcrumbItem Link="/">
        Home
    </BreadcrumbItem>
    <BreadcrumbItem Active="true">
        Tickets
    </BreadcrumbItem>
</Breadcrumb>



<h3>TicketsPage</h3>

<div class="mb-3">
    <button id="panzoom-zoomin" class="btn">
        Zoom In
    </button>
    <button id="panzoom-zoomout" class="btn">
        Zoom Out
    </button>
    <button id="panzoom-reset" class="btn">
        Reset
    </button>
</div>

<div style="height: 500px;" class="border border-2 border-white bg-dark panzoom-container">
    <div id="panzoom-element">
        <div class="theater">

            <div class="theater-stage">
                <div class="theater-stage-text">
                    Stage
                </div>
            </div>

            @for (int i = 1; i < 7; i++)
            {
                <div class="seats-row my-2">
                    @for (int j = 1; j < 20 + i; j++)
                    {
                        <div class="mx-1 seat">
                            <div class="seat-text">
                                @j
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        
        
    </div>
</div>


<iframe>
    
</iframe>
