<AlertGroupBase @ref="AlertGroup">
    <AlertBase @ref="AuditoriumNotFoundAlert" Class="alert-danger">
        Selected auditorium does not exist
    </AlertBase>
    <AlertBase @ref="ValidationAlert" Class="alert-danger">
        Validation error
    </AlertBase>
    <AlertBase @ref="SuccessAlert" Class="alert-success">
        Successfully added new show!
    </AlertBase>
</AlertGroupBase>

<FormBase @ref="Form">

    <div class="mb-2">
        <span class="form-label">Public Id</span>
        <TextInputBase @ref="PublicIdInput" @bind-Value="Params.PublicId" />
    </div>
    <div class="mb-2">
        <span class="form-label">Name</span>
        <TextInputBase @ref="NameInput" @bind-Value="Params.Name" />
    </div>
    <div class="mb-2">
        <span class="form-label">Auditorium</span>
        <SelectBase @bind-Value="Params.AuditoriumId">
            <Iterations Items="Auditoriums">
                <option value="@context.Id">
                    @context.Name
                </option>
            </Iterations>
        </SelectBase>
    </div>
    <div class="mb-2">
        <span class="form-label">Description</span>
        <TextareaInputBase @ref="DescriptionInput" @bind-Value="Params.Description" />
    </div>
    <div class="row">
        <div class="col-md mb-2">
            <span class="form-label">Start Date Time</span>
            <input type="datetime" class="form-control" @bind="Params.StartDateTime" />
        </div>
        <div class="col-md mb-2">
            <span class="form-label">End Date Time</span>
            <input type="datetime" class="form-control" @bind="Params.EndDateTime" />
        </div>
    </div>
    <div>
        <ButtonBase @ref="SubmitButton" Class="btn btn-primary" OnClick="SubmitAddShowAsync">
            Add Show
        </ButtonBase>
    </div>
</FormBase>