
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div>
            <img src="" class="border border-1" width="20" height="15" />
        </div>
        <div class="ms-1">
            @CultureId.ToString()
        </div>
    </a>
    <ul class="dropdown-menu">
        <Iterations Items="OtherCultures">
            <li>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)"
                   @onclick="() => HandleChangeCulture(context)">
                    <div>
                        <img src="" width="20" height="15" class="shadow border border-1" />
                    </div>
                    <div class="ms-1">
                        @context
                    </div>
                </a>
            </li>
        </Iterations>
    </ul>
</li>