<div class="col-lg">
    <Condition Evaluation="Disabled">
        <Match>
            <div class="p-2 text-center bg-light border border-1 rounded @GetClasses()">
                @Text
            </div>
        </Match>
        <NotMatch>
            <a class="text-decoration-none" href="@Url">
                <div class="p-2 text-center bg-light border border-1 rounded @GetClasses()">
                    @Text
                </div>
            </a>
        </NotMatch>
    </Condition>
</div>