@using Microsoft.AspNetCore.Components.Forms
<div @ref="ModalElement" class="modal fade" tabindex="-1">
    <div class="modal-dialog @GetDialogClasses()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Title
                </h5>
                <Condition Evaluation="HideCloseButton">
                    <NotMatch>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </NotMatch>
                </Condition>                
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>