@inherits InputBase

<div class="form-check">
    <label class="form-check-label">
        <input 
            type="checkbox"
            class="form-check-input @Class"
            @bind="Value" 
            @oninput="OnValueChanged" 
            disabled="@IsDisabled" 
            />
        @ChildContent
    </label>
</div>