@inherits InputBase
@typeparam TEnum where TEnum : struct

<select class="form-select @Class"
    @bind="Value"
    @oninput="OnValueChanged"
    disabled="@IsDisabled">
    <Condition Evaluation="ChildContent is null">
        <Match>
            @foreach (TEnum value in Enum.GetValues(typeof(TEnum)))
            {
                <option value="@value">@value</option>
            }
        </Match>
        <NotMatch>
            @ChildContent
        </NotMatch>
    </Condition>
    
</select>