@page "/account/login"
@using FMFT.Web.Client.Views.Components.Accounts
@layout AccountLayout


<LoginComponent />


<p class="my-3 text-muted">
    &copy; @DateTime.UtcNow.Year
</p>

<div class="d-flex">
    <div class="small">
        <a href="/" class="text-decoration-none">
            <i class="bi bi-house-door"></i> Go to homepage
        </a>
    </div>
</div>