@using FMFT.Web.Client.Models.Users.Exceptions
@using FMFT.Web.Client.Views.Components.Users.Cards
@using FMFT.Web.Client.Views.Components.Users.Forms

<Condition Evaluation="Exception is not UserNotFoundException">
    <Match>
        <LoadingView State="User">
            <div class="row">
                <div class="col-md-6">
                    <UserIdentityCard User="User" />
                </div>
                <div class="col-md-6">
                    <UserPermissionsCard>
                        <UserRoleForm User="User" />
                    </UserPermissionsCard>
                </div>
            </div>
        </LoadingView>        
    </Match>
    <NotMatch>
        User could not be found
    </NotMatch>
</Condition>