@page "/admin/shows/new"
@using FMFT.Web.Client.Views.Shared.Components.Forms.Shows

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem>
            Admin
        </BreadcrumbItem>
        <BreadcrumbItem Link="/admin/shows">
            Przedstawienia
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            Dodaj
        </BreadcrumbItem>
    </Breadcrumb>

    <CustomAuthorizeView Role="UserRole.Admin">
        <Authorized>
            <LoadingView @ref="LoadingView">
                <Condition Evaluation="AuditoriumsResponse.IsSuccessful">
                    <Match>
                        <div class="card">
                            <div class="card-header">
                                Dodaj przedstawienie
                            </div>
                            <AddShowForm Auditoriums="Auditoriums" />
                        </div>            
                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>
            </LoadingView>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>
    
</MainLayoutBody>