@page "/admin/shows/{ShowId:int}"
@using FMFT.Extensions.Blazor.DataTables
@using FMFT.Web.Client.Models.API.Shows
@using FMFT.Web.Client.Views.Shared.Components.Forms.Shows

<MainLayoutBody>
    <Breadcrumb>
        <BreadcrumbItem Link="/">
            Home
        </BreadcrumbItem>
        <BreadcrumbItem>
            Admin
        </BreadcrumbItem>
        <BreadcrumbItem Link="/admin/shows">
            Przedstawienia
        </BreadcrumbItem>
        <BreadcrumbItem Active="true">
            @ShowName
        </BreadcrumbItem>
    </Breadcrumb>

    <CustomAuthorizeView Role="UserRole.Admin">
        <Authorized>
            <LoadingView @ref="LoadingView">
                <Condition Evaluation="ShowResponse.IsSuccessful && AuditoriumsResponse.IsSuccessful">
                    <Match>
                        <div class="card">
                            <div class="card-header">
                                Podstawowe informacje
                        </div>
                            <UpdateShowForm Show="Show" Audutoriums="Auditoriums" />
                        </div>            
                    </Match>
                    <NotMatch>
                        <ErrorResponseAlert />
                    </NotMatch>
                </Condition>
            </LoadingView>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedAlert />
        </NotAuthorized>
    </CustomAuthorizeView>
    
</MainLayoutBody>