@inherits ButtonBase

<Condition Evaluation="IsSpinning">
    <Match>
        <button class="@Class @AddedClassesString" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            @SpinningText
        </button>
    </Match>
    <NotMatch>
        <button class="@Class @AddedClassesString" type="submit" form="@Form" @onclick="OnClick" disabled="@IsDisabled">
            @ChildContent
        </button>
    </NotMatch>
</Condition>
