@using FMFT.Extensions.Blazor.Bases.Navbars
@using FMFT.Web.Client.Views.Shared.Components.Dialogs

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-1">
    <div class="container">
        <a class="navbar-brand p-0" href="/">
            <img src="/img/navbar_brand.svg" alt="FMFT" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-lg-0" id="navbarToggler" style="margin-right: 5em;">
            <ul class="navbar-nav me-md-auto mb-2 mb-lg-0">
                <NavbarItem Location="/">
                    Home
                </NavbarItem>
                <NavbarItem Location="/shows" StartsWith="true">
                    Przedstawienia
                </NavbarItem>
                <CustomAuthorizeView Role="UserRole.Admin">
                    <Authorized>
                        <NavbarDropdown Value="Admin">
                            <NavbarDropdownItem Location="/admin/shows">
                                Shows
                            </NavbarDropdownItem>
                            @*<NavbarDropdownItem Location="/admin/reservations">
                                Reservations
                            </NavbarDropdownItem>
                            <NavbarDropdownItem Location="/admin/users">
                                Users
                            </NavbarDropdownItem>*@
                        </NavbarDropdown>
                    </Authorized>
                </CustomAuthorizeView>
            </ul>
            <ul class="navbar-nav">
                <CustomAuthorizeView>
                    <Authorized>
                        <NavbarDropdown Value="@context.FirstName">
                            <NavbarDropdownItem Location="/account">
                                Konto
                            </NavbarDropdownItem>
                            <NavbarDropdownItem Location="/account/reservations">
                                Rezerwacje
                            </NavbarDropdownItem>
                            <NavbarDropdownItem OnClick="HandleLogoutAsync">
                                Wyloguj się
                            </NavbarDropdownItem>
                        </NavbarDropdown>
                    </Authorized>
                    <NotAuthorized>
                        <NavbarItem Location="/account/login">
                            Zaloguj się
                        </NavbarItem>
                    </NotAuthorized>
                </CustomAuthorizeView>                 
            </ul>
        </div>
    </div>
</nav>

<LogoutDialog @ref="LogoutDialog" />