@inherits LayoutComponentBase

<div style="padding-bottom: 56px;">
    <MainNavbar />
</div>

<MainNavbarAlert />

<div class="mb-5">
    <ErrorBoundary @ref="ErrorBoundary">
        <ChildContent>  
            @Body
        </ChildContent>
        <ErrorContent Context="Exception">
            <MainError ErrorBoundary="ErrorBoundary" Exception="Exception" />
        </ErrorContent>
    </ErrorBoundary>    
</div>

@code {
    public ErrorBoundary ErrorBoundary { get; set; }

    protected override void OnParametersSet()
    {
        ErrorBoundary?.Recover();
    }

    protected override async Task OnParametersSetAsync()
    {
        await JSRuntimeBroker.ClearModalBackdropAsync();
    }
}