@inherits LayoutComponentBase

<div style="padding-bottom: 56px;">
    <MainNavbar />
</div>

<MainNavbarAlert />

<div class="mb-3">
    <ErrorBoundary @ref="ErrorBoundary">
        <ChildContent>  
            @Body
        </ChildContent>
        <ErrorContent Context="Exception">
            <MainError ErrorBoundary="ErrorBoundary" Exception="Exception" />
        </ErrorContent>
    </ErrorBoundary>    
</div>

<div class="py-3">
    <div class="container text-muted small">
        © FMFT @DateTime.Now.Year 
        - <a href="/documents/privacy-policy.pdf" target="_blank">Polityka prywatności</a>
        - <a href="/documents/terms-and-conditions.pdf" target="_blank">Regulamin</a>
    </div>
</div>

@code {
    public ErrorBoundary ErrorBoundary { get; set; }

    protected override void OnParametersSet()
    {
        ErrorBoundary?.Recover();
    }

    protected override async Task OnParametersSetAsync()
    {
        await JSRuntimeBroker.ClearModalBackdropAsync();
    }
}