@inherits LayoutComponentBase

<div class="mb-3">
    <MainNavbar />
</div>

<div class="container mb-5">
    <ErrorBoundary @ref="ErrorBoundary">
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent Context="Exception">
            <div class="text-center">
                <div class="text-danger">
                    <i class="fa-solid fa-triangle-exclamation" style="font-size: 8em;"></i>
                </div>
                <div class="fs-1">
                    Wystąpił błąd!
                </div>
                <pre class="fs-3">
                    <code>
                        @Exception.Message
                    </code>
                </pre>
                <div>
                    <button class="btn btn-lg btn-secondary" @onclick="HandleRecoverAsync">
                        Spróbuj ponownie
                    </button>
                </div>
            </div>        
        </ErrorContent>
    </ErrorBoundary>    
</div>

@code {
    public ErrorBoundary ErrorBoundary { get; set; }

    protected override void OnParametersSet()
    {
        ErrorBoundary?.Recover();
    }

    private Task HandleRecoverAsync() 
    {
        ErrorBoundary?.Recover();
        return Task.CompletedTask;
    }
}