<div class="card">
    <div class="card-header">
        Show Information
    </div>
    <div class="card-body">
        <h4 class="card-title">@Show.Name</h4>
        <p class="card-text">@Show.Description</p>
        <div>Auditorium: @Auditorium.Name</div>    
    </div>
</div>