@page "/"

<PageTitle>Home</PageTitle>

<div class="mb-3">
    <h3>FMFT (under development)</h3>
    <p class="lead">Seat reservation system for performances in theatres</p>
</div>
<div>
    <div>
        Developed for the yearly event: Festiwal Małych Form Teatralnych (FMFT) Kraków
    </div>
    <div>
        <p>FMFT official website: <a href="https://fmft.art.pl" target="_blank">fmft.art.pl</a></p>
    </div>
</div>