@using FMFT.Web.Client.Models.API.ShowProducts;

<div class="input-group mb-2">
    <span class="input-group-text" style="min-width: 150px;">
        @ShowProduct.Name
    </span>
    <select @bind="Quantity" class="form-select">
        @for (int i = 1; i <= 10; i++)
        {
            <option value="@i">
                @i
            </option>
        }
    </select>
    <button class="btn btn-secondary" type="button" @onclick="HandleAddAsync">
        Dodaj
    </button>
</div>

@code {
    [Parameter]
    public ShowProduct ShowProduct { get; set; }

    public int Quantity { get; set; } = 1;

    [Parameter]
    public EventCallback<Tuple<ShowProduct, int>> ShowProductAdded { get; set; }

    private async Task HandleAddAsync()
    {
        Tuple<ShowProduct, int> tuple = new(ShowProduct, Quantity);
        await ShowProductAdded.InvokeAsync(tuple);

        Quantity = 1;
    }
}