@using FMFT.Web.Client.Models.Auditoriums.Exceptions
@using FMFT.Web.Client.Models.Shows.Exceptions
@using FMFT.Web.Client.Views.Components.Shows.Cards

<Condition Evaluation="Exception == null">
    <Match>
        <LoadingView State="Show">
            <div class="mb-3">
                <ShowInformationCard Show="Show" Auditorium="Auditorium" />
            </div>
            <div>
                <SeatReservationCard Auditorium="Auditorium" Show="Show" />
            </div>
        </LoadingView>
    </Match>
    <NotMatch>
        <Condition Evaluation="this.Exception is ShowNotFoundException">
            <Match>
                Show with the specified Id could not be found
            </Match>
        </Condition>
        <Condition Evaluation="this.Exception is AuditoriumNotFoundException">
            <Match>
                Auditorium for this show doesn't exist
            </Match>
        </Condition>
    </NotMatch>
</Condition>