<div class="card">
    <div class="card-header">
        Identity
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" @bind="User.Email" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" @bind="User.FirstName" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" @bind="User.LastName" class="form-control" disabled />
        </div>
    </div>
</div>