@using FMFT.Emails.Server.Models

@model RegisterExternalEmailModel

<p>
    Cześć @Model.FirstName,
</p>

<p>
    Miło nam poinformować, że rejestracja twojego konta na FMFT App przebiegła pomyślnie. <br />
    Dla twojego konta włączona jest możliwość logowania za pomocą: @Model.AuthenticationMethod
</p>

<p>
    Dziękujemy,<br />
    Organizatorzy FMFT
</p>


