@using FMFT.Emails.Server.Models

@model ResetPasswordEmailModel

<p>
    Cześć @Model.FirstName,
</p>

<p>
    Dostaliśmy twoją prośbę o zresetowanie hasła dla konta @Model.Email <br />
</p>

<p>
    Kliknij proszę w link poniżej aby przejść do strony zmiany hasła <br />
    @Model.ResetLink
</p>

<p>
    Link będzie ważny przez @Model.ExpireTime.TotalMinutes minut
</p>

<p>
    Dziękujemy,<br />
    Organizatorzy FMFT
</p>


